<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th colspan="2" class="header" scope="col"><span>{{tableFillObject.title}}</span> 
            <svg (click)="addNewPerson()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
        </th>
      </tr>
      <tr>
        <th class="cell" scope="col">Name</th>
        <th class="cell" scope="col">{{ tableFillObject.rightHeader }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="tableFillObject.candidatesList; else voters">
        <tr *ngFor="let candidate of tableFillObject.candidatesList">
          <td class="cell" style="width: 70%">{{ candidate.name }}</td>
          <td class="cell">{{ candidate.votesNumber }}</td>
        </tr>
      </ng-container>

    </tbody>
  </table>

  <ng-template #voters>
    <tr *ngFor="let voter of tableFillObject.votersList">
      <td class="cell" style="width: 70%">{{ voter.name }}</td>
      <td class="cell">{{ voter.hasVoted ? 'v' : 'x' }}</td>
    </tr>
  </ng-template>
